<%= form_with(model: [current_account, email_setup], class: "p-4") do |f| %>
  <div class="space-y-4">
    <%= render "shared/errors", object: f.object %>
    <div>
      <%= f.label :address, t('activerecord.attributes.email_setup.address', default: 'SMTP Server'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :address, placeholder: "smtp.gmail.com", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-2 py-2" %>
    </div>
    <div>
      <%= f.label :port, t('activerecord.attributes.email_setup.port', default: 'Port'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :port, placeholder: "587", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-2 py-2" %>
    </div>
    <div>
      <%= f.label :domain, t('activerecord.attributes.email_setup.domain', default: 'Domain'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :domain, placeholder: "gmail.com", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-2 py-2" %>
    </div>
    <div>
      <%= f.label :authentication, t('activerecord.attributes.email_setup.authentication', default: 'Authentication'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.select :authentication, [["Plain", "plain"], ["Login", "login"], ["CRAM-MD5", "cram_md5"]], {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-2 py-2" %>
    </div>
    <div>
      <%= f.label :user_name, t('activerecord.attributes.email_setup.user_name', default: 'Username'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :user_name, placeholder: "your-email@gmail.com", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-2 py-2" %>
    </div>
    <div>
      <%= f.label :user_password, t('activerecord.attributes.email_setup.user_password', default: 'Password'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :user_password, placeholder: "••••••••", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-2 py-2" %>
    </div>
    <div>
      <%= f.label :tls, t('activerecord.attributes.email_setup.tls', default: 'Enable TLS'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.check_box :tls, class: "mt-1 rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500" %>
    </div>
    <div class="pt-2">
      <%= f.submit t('save'), class: "inline-flex items-center px-4 py-2 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
    </div>
  </div>
<% end %>

