<div class="flex items-center justify-between mb-4">
  <div class="flex space-x-2 items-center">
    <h1 class="text-xl font-semibold"><%= t('menu.moizvonki') %></h1>
    <%= link_to_info info_account_moizvonkis_path(current_account) %>
  </div>
  <%= turbo_frame_tag :moizvonkis_actions do %>
    <%= render "actions", moizvonki: @moizvonki %>
  <% end %>
</div>

<%= turbo_stream_from [current_account, "moizvonkis"] %>

<%= turbo_frame_tag "moizvonkis", class: "bg-white rounded-lg shadow divide-y" do %>
  <%= render "index_content", moizvonki: @moizvonki, current_account: current_account %>
<% end %>

