<%= turbo_frame_tag dom_id(message_template, dom_id(current_account)), class: "grid grid-cols-[1fr_150px_150px_150px] gap-4 p-4 items-center hover:bg-gray-50" do %>
  <div><%= message_template.title %></div>
  <div><%= message_template.channel.humanize %></div>
  <div><%= message_template.context || '-' %></div>
  <% app_type = current_account.settings.dig("apps")&.find { |app| app.start_with?('ins') } %>
  <div class="flex space-x-2 items-center justify-end">
    <%= link_to_edit account_message_template_path(current_account, message_template), data: { turbo: false } %>
    <% unless app_type == 'insnotify' %>
      <%= link_to_delete account_message_template_path(current_account, message_template),
          method: :delete, data: { turbo_confirm: "Вы уверены?", turbo_method: :delete }%>
    <% end %>
  </div>
<% end %>

