<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold">Правила автоматизации</h1>
  <div class="flex space-x-2">
    <%= link_to t('automation_rules.index.add_standard_scenarios'),
        create_standard_scenarios_form_account_automation_rules_path(current_account),
        data: { turbo_frame: :offcanvas },
        class: "px-3 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
    <%= link_to "Новое правило", new_account_automation_rule_path(current_account),
        data: { turbo_frame: :offcanvas },
        class: "px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
  </div>
</div>

<%= turbo_stream_from dom_id(current_account, :automation_rules) %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[1fr_200px_150px_100px_150px] gap-4 p-4 font-medium text-gray-700">
    <div>Название</div>
    <div>Событие</div>
    <div>Активно</div>
    <div>Действий</div>
    <div></div>
  </div>
  <%= turbo_frame_tag dom_id(current_account, :automation_rules) do %>
    <%= render partial: 'index_list', locals: { automation_rules: @automation_rules, current_account: current_account } %>
  <% end %>
</div>

