<%= turbo_frame_tag dom_id(product, dom_id(variant, dom_id(varbind))), class: "" do %>
<div class="grid grid-cols-6 gap-2 p-2 items-center border-b">
  <div class="col-span-2 text-sm text-gray-800"><%= varbind.created_at.strftime("%d/%m/%Y %H:%M") %></div>
  <div class="text-sm text-gray-800"><%= varbind.varbindable_type %></div>
  <div class="text-sm text-gray-800">
    <%= varbind.varbindable.respond_to?(:title) ? varbind.varbindable.title : "#{varbind.varbindable_type} #{varbind.varbindable_id}" %>
  </div>
  <div class="text-sm text-gray-800"><%= varbind.value %></div>
  <div class="text-right space-x-2 text-sm">
    <%= link_to 'Edit', edit_account_product_variant_varbind_path(current_account, product, variant, varbind), data: { turbo_stream: true, turbo_prefetch: false }, class: 'text-violet-700 hover:underline' %>
    <%= link_to 'Delete', account_product_variant_varbind_path(current_account, product, variant, varbind), data: { turbo_method: :delete, turbo_confirm: 'Delete varbind?', turbo_stream: true }, class: 'text-red-600 hover:underline' %>
  </div>
</div>
<% end %>


