<%= turbo_frame_tag dom_id(client, dom_id(current_account)), class: "grid grid-cols-[50px_40px_1fr_200px_150px_200px] gap-4 p-4 items-center" do %>
  <div class="truncate"><%= client.id %></div>
  <div>
    <%= link_to insales_info_account_client_path(current_account, client),
      data: { turbo_stream: true },
      class: "p-2 rounded-md bg-blue-300 hover:bg-blue-400 flex items-center justify-center", 
      title: "Reload from Insales" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-blue-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
      <% end %>
  </div>
  <div class="truncate"><%= "#{client.name} #{client.surname}" %></div>
  <div class="text-sm text-gray-600"><%= client.email %></div>
  <div class="text-sm text-gray-600"><%= client.phone %></div>
  <div class="flex justify-end items-center space-x-2">
    <%= link_to_show account_client_path(current_account || client.account, client), data: { turbo_frame: "offcanvas", turbo_prefetch: false } %>
    <%= link_to_edit edit_account_client_path(current_account || client.account, client), data: { turbo_frame: "offcanvas", turbo_prefetch: false } %>
    <%= link_to account_client_path(current_account || client.account, client),
      data: { turbo_method: :delete, turbo_confirm: "Delete client?" },
      class: "float-right p-2 rounded-md bg-red-300 hover:bg-red-400 flex items-center justify-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    <% end %>
  </div>
<% end %>