<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t(".heading") %> <small class="text-sm text-gray-500"><%= @clients.count %></small></h1>

  <div class="flex space-x-2">
    <%= search_form_for @search, url: account_clients_path(current_account), method: :get, html: { class: "flex items-center space-x-2" } do |f| %>
      <%= f.search_field :name_or_surname_or_email_or_phone_cont, placeholder: t('.search_placeholder'), class: "h-8 px-2 border rounded text-sm leading-none", style: "width: 350px;" %>
      <%= f.select :list_items_list_id_eq, 
          options_for_select(
            current_account.lists.pluck(:name, :id),
            params.dig(:q, :list_items_list_id_eq)
          ),
          { include_blank: t('.all_lists') },
          { class: "h-8 px-2 border rounded text-sm leading-none" } %>
      <%= f.submit t('.search'), class: "h-8 px-3 bg-gray-200 rounded hover:bg-gray-300 text-sm leading-none" %>
      <%= link_to_clear account_clients_path(current_account), class: "h-8 px-3 bg-gray-100 rounded hover:bg-gray-200 flex items-center text-sm leading-none" %>
    <% end %>
  </div>
  <div class="flex space-x-2">
  <%= link_to_new new_account_client_path(current_account), data: { turbo_frame: :offcanvas } unless current_account.partner? %>
  </div>
</div>
<%= turbo_stream_from [dom_id(current_account), :clients] %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[50px_40px_1fr_200px_150px_200px] gap-4 p-4 font-medium text-gray-700">
    <div class="text-center">#</div>
    <div></div>
    <div><%= t('.name') %></div>
    <div><%= t('.email') %></div>
    <div><%= t('.phone') %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag [dom_id(current_account), :clients]  do %>
    <%= render @clients %>
    <%= render "shared/paginate", f: @clients %>
  <% end %>
</div>
