<div class="flex items-center justify-between mb-4">
  <div class="flex space-x-2 items-center">
    <h1 class="text-xl font-semibold"><%= t('menu.mailganer') %></h1>
    <%= link_to_info info_account_mailganers_path(current_account) %>
  </div>
  <%= turbo_frame_tag :mailganers_actions do %>
    <%= render "actions", mailganer: @mailganer %>
  <% end %>
</div>

<%= turbo_stream_from [current_account, "mailganers"] %>

<%= turbo_frame_tag dom_id(current_account, "mailganers"), class: "bg-white rounded-lg shadow divide-y" do %>
  <%= render "index_content", mailganer: @mailganer, current_account: current_account %>
<% end %>


