<div class="flex items-center justify-between mb-6">
  <h1 class="text-2xl font-bold"><%= t('subscriptions.subscriptions') %></h1>
  <%= link_to t('subscriptions.new_subscription'), new_account_subscription_path(current_account),
        data: { turbo_frame: :offcanvas },
        class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
  </div>
<%= turbo_stream_from dom_id(current_account, :subscriptions) %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[160px_1fr_1fr_1fr_160px] gap-4 p-4 font-medium text-gray-700">
    <div><%= t('subscriptions.created') %></div>
    <div><%= t('subscriptions.plan') %></div>
    <div><%= t('subscriptions.status') %></div>
    <div><%= t('subscriptions.period') %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag dom_id(current_account, :subscriptions) do %>
    <%= render @subscriptions %>
    <%= render "shared/paginate", f: @subscriptions %>
  <% end %>
</div>