<%= form_with model: [current_account, @webform, @webform_field], 
    data: { turbo_stream: true },
    class: "space-y-4" do |f| %>
    <%= render "shared/errors", object: @webform_field %>


  <div>
    <%= f.label :label, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :label, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5", placeholder: "e.g., Введите email" %>
  </div>

  <%= f.hidden_field :name %>

  <div>
    <%= f.label :field_type, class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :field_type, WebformField::FIELD_TYPES, {}, 
        { 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5",
          data: { controller: "auto-submit", "auto-submit-delay-value": 0 }
        } %>
  </div>

  <div>
    <%= f.label :select_options, "Опции выбора (по одной на строку)", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_area :select_options, 
        rows: 5,
        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5",
        placeholder: "Опция 1\nОпция 2\nОпция 3" %>
    <p class="mt-1 text-sm text-gray-500">Введите каждую опцию на новой строке</p>
  </div>

  <div>
    <%= f.label :required, class: "block text-sm font-medium text-gray-700" %>
    <%= f.check_box :required, class: "mt-1 h-4 w-4 text-violet-600 focus:ring-violet-500 border-gray-300 rounded" %>
  </div>

  <div>
    <%= f.file_field :image, direct_upload: true %>
  </div>

  <div>
    <%= f.submit t('webform_fields.form.save'), class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
  </div>
<% end %>

