<%= form_with model: [current_account, @product, @variant], class: "space-y-4" do |f| %>
  <div class="grid grid-cols-3 gap-4">
    <div>
      <%= f.label :sku, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :sku, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
    </div>
    <div>
      <%= f.label :barcode, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :barcode, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
    </div>
    <div>
      <%= f.label :price, class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :price, step: 0.01, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
    </div>
  </div>
  <div>
    <%= f.label :image_link, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :image_link, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
  </div>
  <div>
    <%= f.submit class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
    <button type="button" class="inline-flex items-center px-3 py-1 bg-white text-violet-700 border border-violet-600 rounded-md hover:bg-violet-50" data-action="offcanvas#close"><%= t(:back) %></button>
  </div>
<% end %>


