<div id="<%= dom_id(variant) %>" class="grid grid-cols-7 gap-4 p-2 items-center border-t">
  <div class="text-sm"><%= variant.id %></div>
  <div>
    <% if variant.image_link.present? %>
      <img src="<%= variant.image_link %>" alt="" class="h-10 w-10 object-cover rounded" onerror="this.style.display='none'">
    <% else %>
      <div class="h-10 w-10 rounded bg-gray-100"></div>
    <% end %>
  </div>
  <div class="text-sm"><%= variant.sku %></div>
  <div class="text-sm"><%= variant.barcode %></div>
  <div class="text-sm"><%= variant.quantity %></div>
  <div class="text-sm"><%= variant.price %></div>
  <%= tag :div, class: "text-right space-x-2 text-sm flex items-center justify-center" do %>
    <%= link_to_edit edit_account_product_variant_path(current_account, product, variant), data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_varbind account_product_variant_varbinds_path(current_account, product, variant), data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
    <%= link_to_delete account_product_variant_path(current_account, product, variant), data: { turbo_confirm: 'Delete variant?' } %>
  <% end unless current_account.partner? %>
</div>