<div class="bg-white rounded-lg shadow p-4 space-y-2">
  <div class="text-sm text-gray-700">ID: <%= @variant.id %></div>
  <div class="text-sm text-gray-700">Product: <%= @variant.product.title %></div>
  <div class="text-sm text-gray-700">SKU: <%= @variant.sku %></div>
  <div class="text-sm text-gray-700">Barcode: <%= @variant.barcode %></div>
  <div class="text-sm text-gray-700">Price: <%= @variant.price %></div>
  <div class="text-sm text-gray-700">Image: <%= @variant.image_link %></div>
  <div class="pt-2">
    <%= link_to_edit edit_account_product_variant_path(current_account, @product, @variant), class: 'text-violet-700 hover:underline' %>
    <span class="mx-1">|</span>
    <%= link_to 'Back', account_product_variants_path(current_account, @product), class: 'text-violet-700 hover:underline' %>
  </div>
</div>


