<%= turbo_frame_tag insale, class: "grid grid-cols-4 gap-4 p-4 items-center" do %>
  <div class="truncate"><%= insale.api_key %></div>
  <div class="truncate"><%= insale.api_password %></div>
  <div class="truncate"><%= insale.api_link %></div>
  <div class="space-y-1">
    <div class="space-x-2">
      <%= link_to "Edit", edit_account_insale_path(current_account, insale), class: "text-violet-700 hover:underline", data: { turbo_frame: "offcanvas", turbo_prefetch: false } %>
      <%= link_to "Delete", account_insale_path(current_account, insale), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600 hover:underline" %>
    </div>
  </div>
<% end %>
