<%= turbo_frame_tag insale, class: "grid grid-cols-[1fr_1fr_1fr_150px] gap-4 p-4 items-center" do %>
  <div class="truncate"><%= insale.api_key %></div>
  <div class="truncate"><%= insale.api_password %></div>
  <div class="truncate"><%= insale.api_link %></div>
  <div class="flex justify-end items-center space-x-2">
    <% account = local_assigns[:current_account] || insale.account %>
    <%= link_to_edit edit_account_insale_path(account, insale), data: { turbo_frame: "offcanvas", turbo_prefetch: false } unless account.partner? %>
    <%= link_to_delete account_insale_path(account, insale), data: { turbo_confirm: "Are you sure?" } unless account.partner? %>
  </div>
<% end %>