<%= turbo_frame_tag dom_id(idgtl) do %>
  <div class="grid grid-cols-[1fr_1fr_150px] gap-4 p-4 items-center border-b">
    <div class="text-sm text-gray-900">
      <% token = idgtl.token_1.to_s %>
      <%= token.length > 8 ? "#{token[0,4]}•••#{token[-4,4]}" : token %>
    </div>
    <div class="text-sm text-gray-900"><%= idgtl.sender_name %></div>
    <div class="flex justify-end items-center space-x-2">
      <%= link_to_edit edit_account_idgtl_path(account_id: current_account, id: idgtl), data: { turbo_frame: :offcanvas } %>
      <%= link_to_show account_idgtl_path(current_account, idgtl), data: { turbo_frame: :offcanvas } %>
    </div>
  </div>
<% end %>

