<div class="flex items-center justify-between mb-4">
  <div class="flex space-x-2 items-center">
    <h1 class="text-xl font-semibold"><%= t('menu.idgtl') %></h1>
    <%= link_to_info info_account_idgtls_path(current_account) %>
  </div>
  <%= turbo_frame_tag :idgtls_actions do %>
    <%= render "actions", idgtl: @idgtl %>
  <% end %>
</div>

<%= turbo_stream_from [current_account, "idgtls"] %>

<%= turbo_frame_tag "idgtls", class: "bg-white rounded-lg shadow divide-y" do %>
  <%= render "index_content", idgtl: @idgtl, current_account: current_account %>
<% end %>

