<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold"><%= t(".heading") %> <small class="text-sm text-gray-500"><%= @products.count %></small></h1>

  <div class="flex space-x-2">
    <%= search_form_for @search, url: account_products_path(current_account), method: :get, html: { class: "flex items-center space-x-2" } do |f| %>
      <%= f.search_field :title_or_variants_sku_cont,
          value: params.dig(:q, :title_cont),
          placeholder: t('.search_placeholder'),
          class: "h-8 px-2 border rounded text-sm leading-none",
          style: "width: 350px;" %>
      <%= f.submit t('.search'),
          class: "h-8 px-3 bg-gray-200 rounded hover:bg-gray-300 text-sm leading-none" %>
      <%= link_to_clear account_products_path(current_account),
          class: "h-8 px-3 bg-gray-100 rounded hover:bg-gray-200 flex items-center text-sm leading-none" %>
    <% end %>
  </div>
  <div class="flex space-x-2">
    <%= link_to_new new_account_product_path(current_account) unless current_account.partner? %>
  </div>
</div>
<%= turbo_stream_from [dom_id(current_account), :products] %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[50px_40px_80px_1fr_80px_120px] gap-4 p-4 font-medium text-gray-700">
    <div class="text-center">#</div>
    <div></div>
    <div></div>
    <div><%= t('.title') %></div>
    <div class="text-center"><%= t('.variants') %></div>
    <div></div>
  </div>
  <%= turbo_frame_tag [dom_id(current_account), :products] do %>
    <%= render @products %>
    <%= render "shared/paginate", f: @products %>
  <% end %>
</div>