<%= form_with model: [current_account, webform], data: {turbo_stream: true }, class: "space-y-4" do |f| %>
  <%= render "shared/errors", object: webform %>
  <div>
    <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
  </div>
  <div>
    <%= f.label :kind, class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :kind, Webform::KINDS.map { |key, value| [key, value] }, {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
  </div>
  <div>
    <%= f.label :status, class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :status, [['active','active'],['inactive','inactive']], {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5" %>
  </div>
    <%# f.label :settings, "Settings (JSON)", class: "block text-sm font-medium text-gray-700" %>
    <%# f.text_area :settings, value: (webform.settings || {max_width: '600px', background_color: '#ffffff', text_color: '#000000'}).to_json, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 px-3 py-2.5", rows: 6 %>
  <div>
    <%= f.submit webform.new_record? ? 'Create' : 'Update', class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
    <%= link_to 'Back', account_webforms_path(current_account), class: "inline-flex items-center px-3 py-1 bg-white text-violet-700 border border-violet-600 rounded-md hover:bg-violet-50", data: {turbo: false} %>
  </div>
<% end %>