<% s = (schema[:settings] || {}).with_indifferent_access rescue (schema[:settings] || {}) %>

<% container_style = [
  "background: #{s['background_color']}",
  "color: #{s['font_color']}",
  "line-height: 1",
  "padding: #{s['padding_y']} #{s['padding_x']}",
  "margin: #{s['margin_y']} #{s['margin_x']}",
  "border-radius: #{s['border_radius']}",
  "max-width: #{s['width']}",
  "width: 100%",
  "height: auto",
  "font-size: #{s['font_size']}",
  "border: #{s['border_width']} solid #{s['border_color']}",
  "box-shadow: #{[s['box_shadow_offset_x'], s['box_shadow_offset_y'], s['box_shadow_blur'], s['box_shadow_spread'], s['box_shadow_color']].join(' ')}"
].join('; ') %>

<div class="webform-preview" style="<%= container_style %>">
  <form>
    <% schema[:fields].each do |field| %>
      <% fs = (field[:settings] || {}).with_indifferent_access rescue (field[:settings] || {}) %>
      <% style = [
        "font-size: #{fs['font_size']}",
        "line-height: 1",
        "color: #{fs['font_color']}",
        "padding: #{fs['padding_y']} #{fs['padding_x']}",
        "margin: #{fs['margin_y']} #{fs['margin_x']}",
        "border-radius: #{fs['border_radius']}",
        "width: #{fs['width']}",
        "border: #{fs['border_width']} solid #{fs['border_color']}",
        "box-shadow: #{[fs['box_shadow_offset_x'], fs['box_shadow_offset_y'], fs['box_shadow_blur'], fs['box_shadow_spread'], fs['box_shadow_color']].join(' ')}"
      ].join('; ') %>

      <% case field[:type] %>
      <% when 'email' %>
        <% placeholder = (fs['placeholder'] || field[:label]) %>
        <input type="email" placeholder="<%= placeholder %>" <%= 'required' if field[:required] %> style="<%= style %>">
      <% when 'text' %>
        <div class="text-field" style="<%= style %>"><%= field[:label] %></div>
      <% when 'textarea' %>
        <% placeholder = (fs['placeholder'] || field[:label]) %>
        <textarea placeholder="<%= placeholder %>" <%= 'required' if field[:required] %> rows="4" style="<%= style %>"></textarea>
      <% when 'button' %>
        <button type="submit" style="<%= [style, "background: #{fs['background_color']}"].join('; ') %>"><%= field[:label] %></button>
      <% else %>
        <% placeholder = field[:label] %>
        <input type="text" placeholder="<%= placeholder %>" <%= 'required' if field[:required] %> style="<%= style %>">
      <% end %>
    <% end %>
  </form>
</div>