<div class="flex items-center justify-between mb-4">
  <div class="flex space-x-2">
    <h1 class="text-xl font-semibold">Webforms</h1>
    <%= link_to info_account_webforms_path,
          data: { turbo_frame: :offcanvas },
          class: "inline-flex items-center justify-center px-2 py-1 text-violet-600 hover:text-violet-800" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none"/>
        <line x1="12" y1="8" x2="12" y2="8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        <line x1="12" y1="12" x2="12" y2="16" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    <% end %>
  </div>
  <div class="flex space-x-2">
    <%= link_to "New", new_account_webform_path(current_account),
        data: { turbo_frame: :offcanvas },
        class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700" %>
  </div>
</div>

<%= turbo_stream_from dom_id(current_account, :webforms) %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[80px_1fr_150px_100px_150px] gap-4 p-4 font-medium text-gray-700">
    <div>#</div>
    <div>Title</div>
    <div>Kind</div>
    <div>Status</div>
    <div></div>
  </div>
  <%= turbo_frame_tag dom_id(current_account, :webforms) do %>
    <%= render @webforms %>
  <% end %>
  
</div>